{% include 'breadcrumb' %}
<div class="container">
  <h1>{{ page.title }}</h1>
  <div class="wysiwyg">
    <div class="shogun-root">
      <div class="shg-c " id="s-1cdd446">
        <div class="shg-fw" style="margin-left: -9999px; margin-right: -9999px;">
          <div class="shg-fw-inner" style="width: 100vw; margin-left: auto; margin-right: auto;">
            <div style="background-image: url('{{settings[flagship_top_image]}}'); background-repeat: no-repeat; background-size: cover; min-height: 420px; background-position: center center;"></div>
          </div>
        </div>
      </div>
      <div class="shg-c " id="s-4760980">
        <div id="s-5abf965" style="padding-top: 35px; padding-bottom: 0px;" class="shg-c ">
          <h2 style="text-align: center;">{{settings[flagship_first_header]}}</h2>
        </div>
        <div id="s-1852c6a" style="padding-bottom: 35px; text-align: center;" class="shg-c "><img src="'{{settings[flagship_top_image]}}'" alt="" class="shogun-image img-responsive" width="" height="" /></div>
        <div id="s-4efe19d" style="padding-bottom: 50px;" class="shg-c ">
          <div class="shg-row">
            <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
              <div id="s-2bac8d5" class="shg-c ">
                {{settings[flagship_left_collumn]}}
              </div>
            </div>
            <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
              <div id="s-4738c0e" class="shg-c ">
                {{settings[flagship_right_collumn]}}
              </div>
            </div>
          </div>
        </div>
        <div id="s-d9d213" class="shg-c ">
          {{settings[first_shop_view_embed_code]}}
          {{settings[first_maps_embed_code]}}
        </div>
        <div id="s-27f7d31" style="padding-top: 50px; padding-bottom: 20px;" class="shg-c ">
          <h2 style="text-align: center;">{{settings[flagship_second_header]}}</h2>
        </div>
        <div id="s-3c51826" style="padding-bottom: 35px; text-align: center;" class="shg-c ">
          <img src="https://ucarecdn.com/97a89e18-ff52-4437-8dc3-2cb22d0fc37f/-/stretch/off/-/resize/3000x/-/quality/normal/" alt="" class="shogun-image img-responsive" width="" height="" />
        </div>
        <div id="s-1663438" class="shg-c ">
          {{settings[second_shop_view_embed_code]}}
          {{settings[second_maps_embed_code]}}
        </div>
      </div>
    </div>

  </div>
</div>