<div class="container">
  <div class="wysiwyg">
    <div class="shogun-root">
      <div class="shg-c " id="s-2f823b2">
        <div class="shg-fw" style="margin-left: -9999px; margin-right: -9999px;">
          <div class="shg-fw-inner" style="width: 100vw; margin-left: auto; margin-right: auto;">
            <div style="background-image: url('{{settings.history_top_image |  img_url: '1024x' }}'); background-repeat: no-repeat; background-size: cover; min-height: 500px; background-position: center center;"></div>
          </div>
        </div>
      </div>
      <div class="shg-c " id="s-4b65d6">
        <div id="s-4b0e3df" style="padding-top: 50px; padding-bottom: 20px;" class="shg-c ">
          <h2 style="text-align: center;">{{settings.history_subheader}}</h2>
        </div>
        <div id="s-ecd6e0" style="text-align: center;" class="shg-c ">
          <img src="https://ucarecdn.com/ca33ae5f-7a26-4fe3-b4d3-0ac78bb8ecfb/-/stretch/off/-/resize/3000x/-/quality/normal/" alt="" class="shogun-image img-responsive" width="" height="" />
        </div>
        <div id="s-1189be2" style="padding-top: 30px; padding-bottom: 10px; text-align: center;" class="shg-c ">
          <img src="{{settings.history_top_logo | img_url: '1024x'}}" alt="" class="shogun-image img-responsive" width="" height="" />
        </div>
        <div id="s-3239c69" style="margin-left: 0px; margin-right: 0px; padding: 80px 50px 80px 50px;" class="shg-c ">
          <div class="shg-row">
            <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
              <div id="s-4c31c2f" class="shg-c ">
                  {{settings.history_left_collumn}}
              </div>
            </div>
            <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
              <div id="s-5d2412b" class="shg-c ">
                  {{settings.history_right_collumn}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shg-c " id="s-56bf2d4">
        <div class="shg-fw" style="margin-left: -9999px; margin-right: -9999px;">
          <div class="shg-fw-inner" style="width: 100vw; margin-left: auto; margin-right: auto;">
            <div>
              <div id="s-1f04b74" style="background-color: #0068aa;" class="shg-c ">
                <div class="shg-row">
                  <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                    <div id="s-3ff8120" style="padding-top: 50px; padding-left: 50px;" class="shg-c ">
                      <h2><span style="color: #ffffff;">{{settings.first_row_subheader}}</span></h2>
                    </div>
                    <div id="s-59a3727" style="padding-left: 50px; padding-bottom: 20px;" class="shg-c "><img src="https://ucarecdn.com/5241fc6d-05ca-4c4e-b436-bad4a7ae1140/-/stretch/off/-/resize/3000x/-/quality/normal/" alt="" class="shogun-image img-responsive" width="" height="" /></div>
                    <div id="s-383beea" style="padding-left: 50px; padding-bottom: 50px; padding-right: 50px;" class="shg-c ">
                        {{settings.first_row_text}}
                    </div>
                  </div>
                  <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                    <div id="s-5db38f9" style="padding-bottom: 0px; text-align: center;" class="shg-c ">
                      <img src="{{settings.first_row_image | img_url: '1024x'}}" alt="" class="shogun-image img-responsive" width="" height="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shg-c " id="s-2b5133">
        <div class="shg-fw" style="margin-left: -9999px; margin-right: -9999px;">
          <div class="shg-fw-inner" style="width: 100vw; margin-left: auto; margin-right: auto;">
            <div>
              <div id="s-2dc5a13" style="background-color: #000000;" class="shg-c ">
                <div class="shg-row">
                  <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                    <div id="s-5eb2b16" style="padding-top: 150px; padding-bottom: 30px; text-align: center;" class="shg-c ">
                      <img src="{{settings.second_row_image | img_url: '1024x'}}" alt="" class="shogun-image img-responsive" width="" height="" />
                    </div>
                  </div>
                  <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                    <div id="s-3a614b4" style="padding-top: 100px; padding-left: 50px; padding-right: 20px;" class="shg-c ">
                      <h2><span style="color: #ffffff;">{{settings.second_row_subheader}}</span></h2>
                    </div>
                    <div id="s-5317f9a" style="padding-left: 50px; padding-bottom: 20px;" class="shg-c "><img src="https://ucarecdn.com/4b969f81-543b-4f71-a947-61f041163c6a/-/stretch/off/-/resize/3000x/-/quality/normal/" alt="" class="shogun-image img-responsive" width="" height="" /></div>
                    <div id="s-37294c9" style="padding-left: 50px; padding-bottom: 100px; padding-right: 30px;" class="shg-c ">
                        {{settings.second_row_text}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shg-c " id="s-3c78fd5">
        <div class="shg-fw" style="margin-left: -9999px; margin-right: -9999px;">
          <div class="shg-fw-inner" style="width: 100vw; margin-left: auto; margin-right: auto;">
            <div style="background-color: #d34033;">
              <div id="s-2c48671" style="background-color: #d34033;" class="shg-c ">
                <div class="shg-row">
                  <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
                    <div id="s-51569c5" style="padding-top: 100px; padding-left: 50px;" class="shg-c ">
                      <h2><span style="color: #ffffff;">{{settings.third_row_subheader}}</span></h2>
                    </div>
                    <div id="s-835fa1" style="padding-left: 50px; padding-bottom: 20px;" class="shg-c ">
                      <img src="https://ucarecdn.com/a5c0803f-5ce8-4621-9b16-ed0d40444aa0/-/stretch/off/-/resize/3000x/-/quality/normal/" alt="" class="shogun-image img-responsive" width="" height="" />
                    </div>
                    <div id="s-3a452db" style="padding-left: 50px; padding-bottom: 50px; padding-right: 50px;" class="shg-c ">
                      {{settings.third_row_text}}
                    </div>
                  </div>
                  <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
                    <div id="s-45f4533" style="padding-bottom: 0px; text-align: center;" class="shg-c ">
                      <img src="{{settings.third_row_image | img_url: '1024x'}}" alt="" class="shogun-image img-responsive" width="" height="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    main {
        margin-bottom: 0px;
    }

</style>
